

<h1>Loyalty Program</h1>

<p>Welcome to our loyalty program! We're excited to offer you exclusive benefits and rewards for your continued support.</p>

<p>Here's how you can earn points:</p>
<ul>
<li>Years of membership</li>
<li>Top-up percentage</li>
</ul>

<p>Here's how you can spend your points:</p>
<ul>
<li>Education unit discounts</li>
<li>Education grants</li>
</ul>

<p><a href="/earn_points">Earn points now</a></p>
<p><a href="/spend_points">Spend your points</a></p>
<p><a href="/program_details">Program details</a></p>


